# Flask core dependencies
Flask
Flask-Bcrypt
Flask-Cors
Flask-Mail
flask-restx
Flask-SQLAlchemy
Flask-WTF
scikit-learn

# Utility libraries
numpy
pandas
python-dateutil
python-dotenv  # For loading .env variables
pytz
requests
Pillow==9.5.0

# Server
gunicorn

# TensorFlow is already included in the base image
# tensorflow==2.13.0
